body {
	font-family: 'Lato', sans-serif;
  }

.bg-white {
	background-color: #fffdf2!important;
}
.block-paragraph {
	white-space: pre-wrap;
  }

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.outlined {
	border: 1px solid #ccc;
  }

.inline-block {
	display: inline-block;
}

/* Buttons */
.accordion-button {
	background-color: #fff0;
}
.btn {
	padding: 0.7rem 1.15rem;
}
.btn-danger {
    color: #fff;
    background-color: #d986d0;
    border-color: #b173bf00;
}
.btn-danger:hover {
    background-color: #a6469b;
    border-color: #b173bf00;
}
.btn-danger:focus {
    background-color: #a6469b;
    border-color: #b173bf00;
	box-shadow: 0 0 0 5px #a6469b62;
}
.btn-primay:active {
    background-color: #a6469b;
    border-color: #b173bf00;
	box-shadow: 0 0 0 5px #a6469b62;
}

.btn-primary {
    color: #fff;
    background-color: #69bfe7;
    border-color: #0d6efd00;
}
.btn-primary:hover {
    background-color: #2e87b0;
    border-color: #b173bf00;
}
.btn-primay:focus {
    background-color: #2e87b0;
    border-color: #b173bf00;
	box-shadow: 0 0 0 5px #2e87b065;
}
.btn-primay:active {
    background-color: #2e87b0;
    border-color: #b173bf00;
	box-shadow: 0 0 0 5px #2e87b065;
}


.btn-secondary {
    color: #fff;
    background-color: #ffa464;
    border-color: #6c757d00;
}
.btn-secondary:hover {
	background-color:#b55c1c;
	border-color: #6c757d00;
}
.btn-secondary:focus {
	background-color:#b55c1c;
	border-color: #6c757d00;
	box-shadow: 0 0 0 5px #b55c1c56;
}
.btn-primay:active {
    background-color:#b55c1c;
	border-color: #6c757d00;
	box-shadow: 0 0 0 5px #b55c1c56;
}

.recipe {
	display: flex;
}

.mobile {
	display: none;
}

.desktop {
	display: inline-block;
}

@media screen and (max-width: 640px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
  }

/* Animations */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
  
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-in-left {
	from {
		transform: translateX(300px)
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-out-right {
	from {
		transform: translateX(0)
	}
	to {
		transform: translateX(300px);
	}
}

.appear {
	animation: fade-in 1s, slide-in-left 1s;
}

.dissappear {
	animation: fade-out 0.5s, slide-out-right 0.5s;
}
