{% extends "layout.html" %}
{% block content %}
  <div class = "container">
    <div class = "row justify-content-center">
      <!-- search bar -->
      <input class="form-control m-3 col" id="searchbar" type="search" placeholder="Search" aria-label="Search" onkeyup="search_recipe()" style = "width: 500px;">
        <div class="col m-3">
          <button type="button" class="btn btn-secondary m-2 inline-block" onclick="show_all()">Show All Recipes</button>
          {% if current_user.is_authenticated %}
          <button type="submit" class="btn btn-outline-info m-2 desktop" form="shopping-list">Generate Shopping List</button>
          {% endif %}
        </div>
    </div>
  </div>


  <div class="container-fluid mx-auto">
    <div class="row">
      <!-- Filters Column Desktop-->

      <div class="col-4 outlined bg-white overflow-auto desktop" style="height: 800px">

        <h2 class="mt-3">My Ingredients:</h2>
          {% if current_user.is_authenticated %}
            <form action = "{{ url_for('update_saved_ingredients')}}" method = "POST">
          {% endif %}
              {% if current_user.is_authenticated %}
                <div>
                  <input type="submit" value="Save and Filter" class="btn btn-primary m-2">
                </div>
              {% else %}
                <div>
                  <input type="submit" value="Filter" class="btn btn-primary m-2" onclick="adjust_filters()">
                </div>
              {% endif %}
              {% for category in filter_ingr %}
                  <div class="accordion">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ category }}" aria-expanded="false" aria-controls="collapse-{{ category }}">
                        {{ filter_ingr[category][0] }}
                      </button>
                    </h2>
                  </div>
                  <div id= "collapse-{{ category }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      {% if category == "common" or category == "herbs_spices" %}
                        <button class="btn btn-primary" type="button" onclick="checkAll('{{ category }}')" style="padding: .375rem .75rem;">Check All</button>
                      {% endif %}
                      <ul class="list-unstyled" id="{{ category }}">
                        {% for ingredient in filter_ingr[category][1:] %}
                        <li class = "dropdown-item">
                            {% if ingredient in saved_ingr %}
                                <input class="form-check-input" name = "ingr_checkbox" type="checkbox" value="{{ ingredient }}" id="{{ ingredient }}" style="width: 2em" checked>
                            {% else %}
                                <input class="form-check-input" name = "ingr_checkbox" type="checkbox" value="{{ ingredient }}" id="{{ ingredient }}" style="width: 2em">
                            {% endif %}
                            <label class="form-check-label" for="flexCheckDefault">{{ ingredient }}</label>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endfor %}
        </form>

      </div>
      <!-- Filters Column Mobile-->
      <div class="accordion mobile">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Filter Recipes
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
            <h2 class="mt-3">My Ingredients:</h2>
            {% if current_user.is_authenticated %}
              <form action = "{{ url_for('update_saved_ingredients')}}" method = "POST">
            {% endif %}
                {% if current_user.is_authenticated %}
                  <div>
                    <input type="submit" value="Save and Filter" class="btn btn-primary m-2">
                  </div>
                {% else %}
                  <div>
                    <input type="submit" value="Filter" class="btn btn-primary m-2" onclick="adjust_filters()">
                  </div>
                {% endif %}
                {% for category in filter_ingr %}
                  <div class="accordion">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ category }}" aria-expanded="false" aria-controls="collapse-{{ category }}">
                        {{ filter_ingr[category][0] }}
                      </button>
                    </h2>
                  </div>
                  <div id= "collapse-{{ category }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      {% if category == 'herbs_spices' or category == 'common' %}
                        <button class="btn btn-primary" type="button" onclick="checkAll('{{ category }}')" style="padding: .375rem .75rem;">Check All</button>
                      {% endif %}
                      {% for ingredient in filter_ingr[category][1:] %}
                      <li class = "dropdown-item">
                          {% if ingredient in saved_ingr %}
                              <input class="form-check-input" name = "ingr_checkbox" type="checkbox" value="{{ ingredient }}" id="{{ ingredient }}" style="width: 2em" checked>
                          {% else %}
                              <input class="form-check-input" name = "ingr_checkbox" type="checkbox" value="{{ ingredient }}" id="{{ ingredient }}" style="width: 2em">
                          {% endif %}
                          <label class="form-check-label" for="flexCheckDefault">{{ ingredient }}</label>
                      </li>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </form>
          </div>
        </div>
      </div>
      <!-- Recipes Column -->
      <div class="col" style="background-color: #f7f1b9;">
        <!-- <div class="container mx-auto justify-content-center"> -->
          <ul class="pagination mt-3">
            <li class="page-item"><button class="btn btn-secondary me-2" type="button" onclick="paginate(pageNumber-1)">Previous</button></li>
            <li class="page-item"><button class="btn btn-secondary" type="button" onclick="paginate(pageNumber+1)">Next</button></li>
            <span class="m-2">Page <span id="pageNumber"></span> out of <span id="pageCount"></span></span>
          </ul>
        <!-- </div> -->
        {% if current_user.is_authenticated %}
        <form id="shopping-list" action="{{ url_for('download_shopping_list') }}" method="POST">
        {% endif %}
          <ul class="list-unstyled" style="display: flex; flex-direction: column;">
            <!-- Recipe Container -->
            {% for recipe in recipes %}
            <div class="recipe container m-2 bg-white text-black overflow-auto mx-auto rounded-3 outlined" style="height: 300px; border-radius: 60px; max-width: 800px">
              <div class="row">
                <div class="col-sm">
                  <img src= "{{ recipe.image }}" class="img-fluid rounded mt-5" alt="picture">
                  <footer style="font-size: x-small">*Images are found online and do not represent what the recipe would look like. Image use is in accordance with content liscenses</footer>
                </div>
                <div class="col-sm">
                  <div>
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" style="font-size: xx-large; color: black;">{{ recipe.name }}</a>
                  </div>
                  {% if current_user.is_authenticated %}
                    <input type="checkbox" class="form-check-input" name="shopping-list-checkbox" value="{{ recipe.id }}">
                    <label class="form-check-label" for="myCheckbox">Add to Shopping List</label>
                  {% endif %}
                  <hr>
                  <h6>
                    Requires:
                  </h6>
                  
                  <ul>
                    {% for ingredient in recipe.req_ingr.splitlines() %}
                      <li>{{ ingredient }}</li>
                    {% endfor %}
                  </ul>
                  <hr>
                  <div class="row"><h6 class="col" >Calories:&nbsp</h6><span class="col recipe-calories">{{ recipe.calories }}</span></div>
                  <div class="row"><h6 class="col" >Cook Time:&nbsp</h6><span class="col recipe-cooktime">{{ recipe.cook_time }}&nbspminutes</span></div>
                  <hr>
                </div>
                <!-- Where Missing Ingredients Go -->
                <div id="placeholder-{{ recipe.id }}"></div>
              </div>
            </div>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
  </div>

  <script>
    var pageNumber = 1;
    function paginate(page) {
        var pageCount = Math.floor((document.getElementsByClassName("showing").length-1)/6)+1;
        if(page<=pageCount && page>=1) {
            pageNumber=page;
        }

        //get all the showing recipes
        let currentRecipes = document.getElementsByClassName("showing");

        console.log(pageCount);
        console.log(pageNumber);
        //set current page number and the total pages in html
        document.getElementById("pageNumber").innerHTML = pageNumber;
        document.getElementById("pageCount").innerHTML = pageCount;

        //remove past class tags
        for(i=0;i<currentRecipes.length;i++) {
          for(a=0; a<=pageCount; a++) {
            if(currentRecipes[i].classList.contains("show-page-" + a)) {
              currentRecipes[i].classList.remove("show-page-" + a);
            }
          }
        }

        for(i=pageNumber*6-6; i<pageNumber*6; i++) {
            if(currentRecipes[i] == null) {
                break;
            }
            

            currentRecipes[i].style.display = "list-item";
            currentRecipes[i].classList.add("show-page-"+pageNumber);
        }
        for(i=0; i < currentRecipes.length; i++) {
            if(!currentRecipes[i].classList.contains("show-page-"+pageNumber)) {
                currentRecipes[i].style.display = "none";
            }
        }
        hiddenRecipes = document.getElementsByClassName("hiding");
        for(i=0; i<hiddenRecipes.length; i++) {
            hiddenRecipes[i].style.display = "none";
        }
        
    }
  </script>
  <script src="{{url_for('static', filename = 'search.js')}}"> </script>
  <script src="{{url_for('static', filename = 'ingredient-filter-dropdown.js')}}"> </script>
  <script>
    function checkAll(category) {
      list = document.getElementById(category);
      elements = list.querySelectorAll('li');

      for(const element of elements) {
        element.getElementsByTagName('input')[0].setAttribute('checked', 'true')
      }
    }
    document.addEventListener('animationend', function (recipe) {
      if (recipe.animationName == 'fade-out') {
          recipe.target.style.display = "none";
      }
    });
    show_all()
  </script>
  {% if current_user.is_authenticated %}
    <script>
      function filter_saved_ingr(input_filters) {
        for(i=0; i<input_filters.length; i++) {
          filters.push(input_filters[i].toLowerCase());
        }
        filter_recipes(true);
      }
      filter_saved_ingr({{ saved_ingr|safe }});
      show_missing_ingr();
    </script>
  {% endif %}
  
{% endblock content %}
