{% extends "layout.html" %}
{% block content %}

    <div class="container mx-auto p-4">
        <h1>My Profile</h1>
        <hr>
    </div>

    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col">
            <div class="container mx-auto p-3">
                <h2>Favorited Recipes:</h2>
                {% for recipe in favorited_recipes %}
                    <div class="recipe container m-2 bg-white text-black overflow-auto mx-auto rounded-3 outlined" style="height: 300px; border-radius: 60px; max-width: 800px">
                        <div class="row">
                        <div class="col-sm">
                            <img src= "{{ recipe.image }}" class="img-fluid rounded mt-5" alt="picture">
                            <footer style="font-size: x-small">*Images are found online and do not represent what the recipe would look like. Image use is in accordance with content liscenses</footer>
                        </div>
                        <div class="col-sm">
                            <div>
                            <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" style="font-size: xx-large; color: black;">{{ recipe.name }}</a>
                            </div>
                            <hr>
                            <h6>
                            Requires:
                            </h6>
                            
                            <ul>
                            {% for ingredient in recipe.req_ingr.splitlines() %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                            </ul>
                            <hr>
                            <div class="row"><h6 class="col" >Calories:&nbsp</h6><span class="col recipe-calories">{{ recipe.calories }}</span></div>
                            <div class="row"><h6 class="col" >Cook Time:&nbsp</h6><span class="col recipe-cooktime">{{ recipe.cook_time }}&nbspminutes</span></div>
                            <hr>
                        </div>
                        <!-- Where Missing Ingredients Go -->
                        <div id="placeholder-{{ recipe.id }}"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col" style="background-color: rgb(229, 218, 116);">
            <div class="container mx-auto p-3">
                <h2>My Created Recipes:</h2>
                {% for recipe in my_recipes %}
                    <div class="recipe container m-2 bg-white text-black overflow-auto mx-auto rounded-3 outlined" style="height: 300px; border-radius: 60px; max-width: 800px">
                        <div class="row">
                        <div class="col-sm">
                            <img src= "{{ recipe.image }}" class="img-fluid rounded mt-5" alt="picture">
                            <footer style="font-size: x-small">*Images are found online and do not represent what the recipe would look like. Image use is in accordance with content liscenses</footer>
                        </div>
                        <div class="col-sm">
                            <div>
                            <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" style="font-size: xx-large; color: black;">{{ recipe.name }}</a>
                            </div>
                            <hr>
                            <h6>
                            Requires:
                            </h6>
                            
                            <ul>
                            {% for ingredient in recipe.req_ingr.splitlines() %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                            </ul>
                            <hr>
                            <div class="row"><h6 class="col" >Calories:&nbsp</h6><span class="col recipe-calories">{{ recipe.calories }}</span></div>
                            <div class="row"><h6 class="col" >Cook Time:&nbsp</h6><span class="col recipe-cooktime">{{ recipe.cook_time }}&nbspminutes</span></div>
                            <hr>
                        </div>
                        <!-- Where Missing Ingredients Go -->
                        <div id="placeholder-{{ recipe.id }}"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}