{% extends "layout.html" %}
{% block content %}
    <jumbotron>
      <div class="container-fill">
        <center>
          <img class = "img-fluid w-50 desktop" src="{{ recipe.image }}">
          <img class = "img-fluid w-100 mobile" src="{{ recipe.image }}">
          <footer style="font-size:x-small">*Images are found online and do not represent what the recipe would look like. Image use is in accordance with content liscenses</footer>
        </center>
        <h1 style="color:rgb(0, 0, 0);text-align: center; text-shadow: 2px 2px 4px white; background-color: rgb(244, 243, 204);" >{{ recipe.name }}</h1>
        <center>
          <!-- Favorite Button -->
          {% if current_user.is_authenticated %}
            {% if recipe.id in favorited_recipes %}
              <form action="{{ url_for('unfavorite_recipe', recipe_id=recipe.id) }}" method="POST" class="inline-block">
                <input class="btn btn-secondary btn-sm" type="submit" value="Unfavorite">
              </form>
            {% else %}
              <form action="{{ url_for('favorite_recipe', recipe_id=recipe.id) }}" method="POST" class="inline-block">
                <input class="btn btn-primary btn-sm " type="submit" value="Favorite">
              </form>
            {% endif %}
          {% endif %}
    
          {% if recipe.author == current_user %}
              <a class="btn btn-secondary btn-sm m-1"  href = "{{ url_for('update_recipe', recipe_id=recipe.id )}}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          {% endif %}
        </center>
      </div>
    </jumbotron>
    <div style="text-align: center;">
      <h3 style="color:rgb(0, 0, 0);"> {{ recipe.description }}</h2>
      <hr style="color:black; height: 3px;">
      <div style = "column-count: 2; column-gap: 10px;">
        <h3>Cook Time</h3>
        <h4>{{ recipe.cook_time }} minutes</h4>
        <h3>Calories</h3>
        <h4>{{ recipe.calories }}</h4>
      </div>
    </div>
    <hr style="color:rgb(0, 0, 0); height: 3px;">
    <div class="row" style="color: rgb(0, 0, 0); text-align:center;">
      <div class="col-sm">
        <h2>Required Ingredients</h2>
        <ul style = "display: inline-block; text-align: left;">
          {% for ingr in req_ingr %}
            <li>{{ ingr }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm">
        <h2>Optional Ingredients</h2>
        <ul style = "display: inline-block; text-align: left;">
          {% for ingr in ad_ingr %}
            <li>{{ ingr }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container" style="color: rgb(0, 0, 0); text-align: left;">
      <div>
        <h2>Instructions:</h2>
        <p class="block-paragraph" id="instructions">
{{ recipe.instructions }} </p>
      </div>
    </div>
    <hr>
    <center><footer><p>This Recipe Was Made By "{{recipe.author.username}}"</p></footer></center>
    
    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename = 'insert-video.js') }}"></script>
  <script src="{{ url_for('static', filename = 'insert-text.js') }}"></script>

  <script>
    insertVideo("Egg", "hWPVhF24Ank", 1);
    insertVideo("Onions", "-wSa5Q332vo", 2);
    insertVideo("Bell pepper", "UfE88qEM_F4", 3);
    insertVideo("Poach", "0sl3eMAXspE", 4);
    insertText("Skillet", "Be sure to always remember turn off the grill. You can set a timer to reminder in case you forget", 5);
    insertText("Rigatoni", "Rigatoni you want to cook for 12-15 minutes. Be sure to test the rigatoni throughout the time it's boiling to see if it's ready or not.", 6);
    insertText("Sauté", "Sautéing or sauteing is a method of cooking that uses a relatively small amount of oil or fat in a shallow pan over relatively high heat.", 7);
    insertText("Saute", "Sautéing or sauteing is a method of cooking that uses a relatively small amount of oil or fat in a shallow pan over relatively high heat.", 8)
    insertVideo("Chicken", "LabVGd3tOnY", 9);
    insertVideo("Avocado", "texyKNGt4iU", 10);
    insertVideo("Zest", "dvOgkKHUWkw", 11);
    insertVideo("Rice", "oQ4y4u6W0Bw", 12);
    insertVideo("Potato", "hC8kNBhUU28", 13);
    insertVideo("Bacon", "2guC4Badq2s", 14)
    insertText("Spaghetti", "Spaghetti you want to cook for about 8-10 minutes, making sure to stir and test the spaghetti while it's cooking.", 15)
    insertText("Stove", "Be sure to always remember turn off the grill. You can set a timer to reminder in case you forget", 16);
    insertVideo("Flip the egg", "EYcx_Se8h6w", 17)

  </script>
{% endblock content %}